.inline-edit {
  .form-input,
  &:focus {
    background: transparent;
    border-width: 0;
    border-bottom: 1px solid #ccc;
    outline: 0px;
    color: #ccc;
    font-size: 1rem;
  }
  .check-icon,
  .edit-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}
